/* Coolors Exported Palette - https://coolors.co/f9a737-ffffff-4d96ff-a15e05-000000-0049b3 */

/* CSS HEX */
--yellow-orange: #f9a737ff;
--white: #ffffffff;
--united-nations-blue: #4d96ffff;
--golden-brown: #a15e05ff;
--black: #000000ff;
--cobalt-blue: #0049b3ff;

/* CSS HSL */
--yellow-orange: hsla(35, 94%, 60%, 1);
--white: hsla(0, 0%, 100%, 1);
--united-nations-blue: hsla(215, 100%, 65%, 1);
--golden-brown: hsla(34, 94%, 33%, 1);
--black: hsla(0, 0%, 0%, 1);
--cobalt-blue: hsla(216, 100%, 35%, 1);

/* SCSS HEX */
$yellow-orange: #f9a737ff;
$white: #ffffffff;
$united-nations-blue: #4d96ffff;
$golden-brown: #a15e05ff;
$black: #000000ff;
$cobalt-blue: #0049b3ff;

/* SCSS HSL */
$yellow-orange: hsla(35, 94%, 60%, 1);
$white: hsla(0, 0%, 100%, 1);
$united-nations-blue: hsla(215, 100%, 65%, 1);
$golden-brown: hsla(34, 94%, 33%, 1);
$black: hsla(0, 0%, 0%, 1);
$cobalt-blue: hsla(216, 100%, 35%, 1);

/* SCSS RGB */
$yellow-orange: rgba(249, 167, 55, 1);
$white: rgba(255, 255, 255, 1);
$united-nations-blue: rgba(77, 150, 255, 1);
$golden-brown: rgba(161, 94, 5, 1);
$black: rgba(0, 0, 0, 1);
$cobalt-blue: rgba(0, 73, 179, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-right: linear-gradient(90deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-bottom: linear-gradient(180deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-left: linear-gradient(270deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-top-right: linear-gradient(45deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-bottom-right: linear-gradient(135deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-top-left: linear-gradient(225deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-bottom-left: linear-gradient(315deg, #f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);
$gradient-radial: radial-gradient(#f9a737ff, #ffffffff, #4d96ffff, #a15e05ff, #000000ff, #0049b3ff);