<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>cloudlinkinabrowser</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <script>
      alert("You have been banned for malicious use of this site!\nReason: {{reason}}\n\nIf you think this is a mistake, please contact Tnix on Discord.");
    </script>
    <div id="connection" style="display: block;">
      <h2>Failed to connect! Please try again later.</h2>
    </div>
    <h4 style="color: #eb4934;">This website is meant for demonstration purposes!<br>I do not condone malicious use with this website!<br><br>If you are caught using it for negatively affecting Meower, I will ban you from using this site.</h4>
  </body>
</html>