{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": false,
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{"files": "*.svelte", "options": {"parser": "svelte"}}]
}
